@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, #f1f5f9 1px, transparent 1px),
      linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
    background-size: 28px 28px;
  }
  
  .bg-grid-pattern-dense {
    background-image: 
      linear-gradient(to right, #e2e8f0 1px, transparent 1px),
      linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
    background-size: 32px 32px;
  }
}
